[Unit]
Description=WOL Proxy

[Service]
User=alex
Environment="WOL_LOG=/opt/wol-proxy/log"
ExecStart=/usr/bin/java -jar /opt/wol-proxy/wol.jar --server 8888 8080
SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
